</main>
<footer class="d-flex flex-wrap justify-content-around align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center px-3">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      ShopSpectra&nbsp;
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© <%= new Date().getFullYear() %> Company, Inc</span>
  </div>

  <ul class="social_icon nav col-md-4 justify-content-end list-unstyled d-flex px-3">
    <li class="ms-3"><a class="text-body-secondary icon-link icon-link-hover" href="#"><ion-icon
          name="logo-facebook"></ion-icon></a></li>
    <li class="ms-3"><a class="text-body-secondary icon-link icon-link-hover" href="#"><ion-icon
          name="logo-twitter"></ion-icon></a></li>
    <li class="ms-3"><a class="text-body-secondary icon-link icon-link-hover" href="#"><ion-icon
          name="logo-linkedin"></ion-icon></a></li>
    <li class="ms-3"><a class="text-body-secondary icon-link icon-link-hover" href="#"><ion-icon
          name="logo-instagram"></ion-icon></a></li>
  </ul>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>